# Supabase — https://supabase.com/dashboard/project/_/settings/api
SUPABASE_URL=https://XXXX.supabase.co
SUPABASE_SERVICE_KEY=eyXXXX...

# CallMeBot — siga os passos no README para ativar e obter sua apikey
CALLMEBOT_APIKEY=000000
NOTIFY_PHONE=5511984362736
